<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ascii Art Stylize</title>
  <link rel="stylesheet" href="/web/style.css">
</head>
<body>
  <section class="form-content">
    <main>
      <section class="form">
        <h1>Text to ASCII Art Generator: Create ASCII Art from Text</h1>
        <form action="/ascii-art" method="POST">
          <div class="form-input">
            <div>
              <p>ASCII Art font:</p>
              <select name="font" id="font">
                <option value="--">---</option>
                <option value="standard" {{if eq .FONT "server/banners/standard.txt"}}selected{{end}}>Standard</option>
                <option value="shadow" {{if eq .FONT "server/banners/shadow.txt"}}selected{{end}}>Shadow</option>
                <option value="thinkertoy" {{if eq .FONT "server/banners/thinkertoy.txt"}}selected{{end}}>Thinkertoy</option>
              </select>
            </div>
            <button id="submit" type="submit">Submit</button>
          </div>

          <div>
            <p>Input text:</p>
            <textarea name="input" id="input" placeholder="Type Something">{{ .INPUT }}</textarea>
          </div>
        </form>
      </section>
    </main>

  </section>

  <article class="art">
    <div id="art-action">
      <button onclick="handleDownload(`{{ .ART }}`)" class="custom-button">
        Download<img src="/web/images/inbox.png" alt="Download icon">
      </button>
      <button onclick="handleCopy(`{{ .ART }}`)" class="custom-button">
        Copy <img src="/web/images/paste.png" alt="Copy icon" />
      </button>
    </div>
    <pre>{{ .ART }}</pre>
  </article>

  <script src="/web/index.js"></script>
</body>
</html>